.DS_Store
bin/
obj/
CppProperties.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
.vs/godengine/FileContentIndex/3fde4cce-2e16-402d-91a7-3860f772e072.vsidx
.vs/godengine/FileContentIndex/9f159ced-ef51-4693-9259-315ce3b09e7e.vsidx
.vs/godengine/FileContentIndex/c1318af2-2585-4843-bab6-a8828395ff12.vsidx
.vs/godengine/FileContentIndex/eab37c1b-2222-4ce2-81c6-a2b7bd14574d.vsidx
.vs/godengine/v17/.wsuo
.vs/godengine/v17/Browse.VC.db
.vs/godengine/v17/Browse.VC.db-shm
.vs/godengine/v17/Browse.VC.db-wal
.vs/godengine/v17/DocumentLayout.json
.vscode/c_cpp_properties.json
.vscode/settings.json
releases/0.1/chess
releases/0.1/chess.exe
releases/0.2/chess
releases/0.2/chess.exe
releases/0.3/chess
releases/0.3/chess.exe
releases/0.3.1/chess
releases/0.3.1/chess.exe
releases/0.4/craig.engine
releases/0.4/craig.exe
*.o
src/craig-debug.engine
.vscode/settings.json
src/craig.engine
src/craig.exe
src/craig-debug.exe
src/craig-prof.engine
src/craig-prof.exe
src/craig.output
src/gmon.out
